{{#modal-dialog action="close"}}
  <div class="modal-header" >
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Rensignez vos informations de <span style="color:orange;">livraison</span></h4>
  </div>

  <div class="modal-body" >
      <label for="exampleInputEmail1">1. Entrez nom complet</label>
      <input type="text" class="form-control" placeholder="Prénom Nom" name="name" id="name">
      <span class="help-block">Votre nom coplet est <strong>indispensable</strong> pour que nous puissions valider votre achat et vous contactez.</span>
  </div>

  <div class="modal-body" >
      <label for="exampleInputEmail1">2. Entrez votre numéro</label>
      <input type="text" class="form-control" placeholder="Numéro de téléphone" name="phone" id="phone">
      <span class="help-block">Votre numéro est <strong>indispensable</strong> pour que nous puissions valider votre achat et vous contactez.</span>
  </div>

  <div class="modal-body" >
    <label for="exampleInputEmail1">3. Entrez votre adresse</label>
      <textarea class="form-control" rows="3" placeholder="Adresse" name="adress" id="adress"></textarea>
    <span class="help-block">Votre adresse est <strong>indispensable</strong> pour que nous puissions valider votre achat et vous contactez.</span>
  </div>

  <div class="modal-footer" >
    <button type="button" class="btn btn-default" data-dismiss="modal" {{action "close"}}>Quittez</button>
    <button type="button" class="btn btn-primary" {{action "send"}}>Validez</button>
  </div>
{{/modal-dialog}}