@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

/* Put your CSS here */
html, body {
    margin: 30px 0;
    font-family: 'Hammersmith One', sans-serif!important;
}

.spacer {
    margin-bottom:20px;
}

.spacer div{
    line-height:50px;
    vertical-align:middle;
}

.btn-custom {
  /*background-color: #4E3F30 !important;*/
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  border-color: #4E3F30 !important;
  margin-left: 10px;
}

.completed {

  background: pink !important;
}

.modal {
   display: block !important;
 }

 .table tr {border: none!important;}

 .center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-white {color: white;}
.gray-darker { color : #222;} 
.wake-me-up { color : #C43738;} 
.wheres-the-coffee {background-color: #2A1310 !important;}
.orange-juice-sun { background-color: #DE7A47 !important;}
/*.gray-darker { background-color : lighten(#000, 20%); }*/
/*@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 60%);   // #999
@gray-lighter: lighten(#000, 93.5%); // #eee*/

img.resize{
    width:300px; /* you can use % */
    height: auto;
}

.label {width:100%}